# Python temporary files & virtual envs
__pycache__/
*.py[cod]
.venv/
venv/

# IDE settings
.vscode/

# Figures
figures/*
!figures/.gitkeep

# Scripts for data prepping
scripts/notebooks/ert_dat_to_gimli.ipynb
scripts/notebooks/unify_topo_csv_files.ipynb
scripts/01_add_dates.py
scripts/02_reformat_filenames.py
scripts/03_sync_txt_filenames.py
scripts/04_ert_dat_to_gimli_kz.py
scripts/05_reformat_rst_filenames.py
scripts/06_reformat_rst_topo_filenames.py

# Data not needed
data/geophysics/raw/profile_coordinates_topo/raw
*_res_conventional.dat
invalid.data