# Python temporary files & virtual envs
__pycache__/
*.py[cod]
.venv/
venv/

# IDE settings
.vscode/

# IGNORE FIGURES: Do not track output images/plots
figures/*
!figures/.gitkeep

# DATA IS INCLUDED:
# (Since data/* is not listed here, Git will automatically track all files in data/)

scripts/notebooks/ert_dat_to_gimli.ipynb
scripts/notebooks/unify_topo_csv_files.ipynb
scripts/01_add_dates.py
scripts/02_reformat_filenames.py
scripts/03_sync_txt_filenames.py
scripts/04_ert_dat_to_gimli_kz.py


# Data
data/geophysics/raw/profile_coordinates_topo/raw
*_res_conventional.dat
